%h2 Welcome to October!
Thanks for becoming a part of Project October. You have been registered with the username
%b #{@user.name}
and the email address
%b #{@user.email}.

%h2 First things first...
October recommends articles based on keywords. We will automatically track your
top keywords as you interact with your news, but first, we need to get to know
you a little better! Go to
=link_to "the October homepage", root_url
and enter some keywords and we'll get you some news!

%h2 Upvote and Downvote
As you read articles on October, please make sure to click the upvote (+) and
downvote (-) buttons. This is the only way we can customize your news to your
liking, so vote early and vote often.
