%ul.article-links
  %li
    = link_to upvote_post_path(article), :remote => 'true', :class => (@votes.detect { |v| v.post_id == article.id && v.direction == Vote.UP }.present? ? 'voted' : '') do
      %i.icon-plus
  %li
    = link_to downvote_post_path(article), :remote => 'true', :class => (@votes.detect { |v| v.post_id == article.id && v.direction == Vote.DOWN }.present? ? 'voted' : '') do
      %i.icon-minus
  %li= link_to "#{article.comments.length} comments", post_path(article)
