%ul.article-links
  %li
    = link_to upvote_post_url(article), :remote => 'true', :class => (@votes.detect { |v| v.post_id == article.id && v.direction == Vote.UP }.present? ? 'voted' : '') do
      %i.icon-plus
  %li
    = link_to downvote_post_url(article), :remote => 'true', :class => (@votes.detect { |v| v.post_id == article.id && v.direction == Vote.DOWN }.present? ? 'voted' : '') do
      %i.icon-minus
  %li= link_to 'comments', post_url(article)
