.span11
  %h3 What is October?
  %p
    October is a news aggregation website, where all the cool, interesting
    articles and bits of information from around the web coalesce and are served
    up fresh for your perusing pleasure! October uses your viewing preferences
    to filter through articles and pick out the ones that are most pertinent to
    you, providing you with a seamless browsing experience where
    %em everything
    on the front page is worth your time.
  %h3 How did October come to be?
  %p
    We here at October had a dream, a dream that involved a place where one
    wouldn’t need to endlessly scroll through the depths of the internet to find
    the bits that were really worthwhile. October is an attempt to make those
    dreams into a reality, and also as a class project for our senior year at
    Case Western Reserve University (But mostly the former, because it’s
    sexier).
  %h3 Why is it called October?
  %p
    By using a recommendation engine, we believe this community will be able to
    tolerate large influxes of new users with no decrease in the quality of discourse, thus
    breaking through the #{link_to 'Eternal September', 'http://en.wikipedia.org/wiki/Eternal_September'} phenomenon.
  %h3 Who are the people who made this wonderful place?
  %p
    October was created by Brian, Tom and Mika: three intrepid and daring (and
    dashing) seniors at Case Western Reserve University in lovely Cleveland, OH.
  %p
    =image_tag 'brian.jpg', :style => 'width: 64px;'
    %p
      Brian, when not creating the guts of the website that you are currently
      enjoying, spends his leisure time solving stuff like P=NP and whether or not
      3SUM can be solved in subquadratic time.
  %p
    =image_tag 'tom.jpg', :style => 'width: 64px;'
    %p
      Tom recently returned from Botswana where he rescued 26 children from a
      float of crocodiles when they attacked a small shore-side village (the crocodiles, not the children). No
      lizards were hurt in the process.
  %p
    =image_tag 'mika.jpg', :style => 'width: 64px;'
    %p
      Mika just beat God of War: Ascension on Titan difficulty and realized that
      there is, in fact, no PS3 trophy for doing so and now feels swindled.
