-content_for :stylesheets do
  = stylesheet_link_tag 'home'
-content_for :javascripts do
  = javascript_include_tag 'home'
  :javascript
    $(function() {
      OctoberHomepage.init("#{current_user.name}");
    });
.row#articles
  =image_tag 'loading.gif', :style => 'width: 14px; float: left; margin-right: 10px; margin-top: 3px;'
  %p Please wait, we'll have your recommendations in just a moment...
