-content_for :javascripts do
  :javascript
    // TODO: Figure out a way that this doesn't depend on jQuery loading first
    // Also use prototypical inheritance so it ends up being something like
    //  "new October.Homepage()"
    var OctoberHomepage = (function($) {
      var $articles = $("#articles .row"),
        prevWidth = 0,
        masonryEnabled = false;

      var init = function() {
        $(window).resize(updateHomepageHandler);
        $articles.imagesLoaded(updateHomepageHandler);
      }

      var updateHomepageHandler = function() {
        var nowWidth = $articles.width();

        if (masonryEnabled && nowWidth == prevWidth) { return; }
        if (nowWidth < 724) {
          if (masonryEnabled) {
            $articles.masonry('destroy');
            masonryEnabled = false;
          }

          return;
        }

        prevWidth = nowWidth;
        masonryEnabled = true;

        $articles.masonry({
          itemSelector: '.article',
          columnWidth: nowWidth / 3,
        });
      }

      return {
        init : init,
      };
    }($));

    $(function() {
      OctoberHomepage.init();
    });
.row
  = render 'feature_article', :article => @posts.first
  -@posts.drop(1).each do |p|
    - if Random.rand > 0.5
      = render 'square_article', :article => p
    - else
      = render 'square_article_with_picture', :article => p
  -#['feature_article', 'square_article_with_picture', 'square_article'].cycle(10).to_a.sample(8).each do |a|
    =# render a
