= form_for(Comment.new(:post_id => post_id, :parent_id => parent_id)) do |f|
  = f.hidden_field :post_id
  = f.hidden_field :parent_id
  = f.text_area :body, :class => 'span6', :style => 'height: 60px;'
  .clearfix
    =f.submit "Post Comment", :class => 'btn'
