- content_for :javascripts do
  :javascript
    var OctoberSubmitPage = (function($) {
      var $form = $("#new_post");
      var $urlField = $form.find("#post_url");
      var $imageUrlField = $form.find("#post_image_url");
      var $titleField = $form.find("#post_title");
      var $imagesArea = $form.find("#form-image-group");
      var $keywordsArea = $form.find("#form-keywords-group");
      var $loadingGif = $form.find(".loading-gif");
      var fetchUrl = "#{fetch_posts_path}"

      var init = function() {
        $urlField.on('change', urlChangeHandler);
        hideSections();
        resetSections();
      };

      var hideSections = function() {
        $imagesArea.hide();
        $keywordsArea.hide();
        $loadingGif.hide();
      };

      var resetSections = function() {
        $titleField.val("");
        $imagesArea.find(".controls").html('');
        $keywordsArea.find(".controls").html('<ul></ul>');
      };

      var urlChangeHandler = function(e) {
        if (this.value === "") {
          resetSections();
        }
        $loadingGif.show();
        $.post(fetchUrl, { url: this.value }, postFetchedHandler, 'json');
      };

      var selectImage = function($img) {
        $img.parent().children().removeClass('selected');
        $imageUrlField.val($img.data('image-url'));
        $img.addClass('selected');
      };

      var selectImageHandler = function(ev) {
        selectImage($(ev.target));
        return false;
      };

      var postFetchedHandler = function(data) {
        if (data.error) {
          resetSections();
          hideSections();
        }

        // Done loading, hide the loading animation
        $loadingGif.hide();

        // Populate the images
        $imageControlsArea = $imagesArea.find(".controls");
        $.each(data.images, function(index, url) {
          $imageControlsArea.append("<div data-image-url=\"" + url + "\" style=\"background: url('" + url + "'); background-size: cover;\" class=\"article-image\"></div>");
        });
        selectImage($imageControlsArea.find(":first"));
        $imageControlsArea.on('click', selectImageHandler);
        $imagesArea.show();

        // Populate the title
        $form.find('#post_title')[0].value = data.title

        // Populate the keywords
        $keywordListArea = $keywordsArea.find(".controls ul");
        $.each(data.keywords, function(index, keyword) {
          if (index >= 5) { return false; }
          $keywordListArea.append("<li>" + keyword[0] + "</li>");
        });
        $keywordsArea.show();
      };

      return { init : init };
    }($));

    $(function() {
      OctoberSubmitPage.init();
    });
:css
  #form-keywords-group .controls ul {
    list-style: none;
    margin: 0;
    padding-top: 5px;
  }
  #form-keywords-group .controls li {
    float: left;
    font-size: 1.6em;
    margin-right: 15px;
  }
  #form-image-group .article-image {
    float: left;
    height: 100px;
    width: 100px;
    margin: 0 10px 0 0;
    border: 3px solid #888;
    opacity: 0.3;
    cursor: pointer;
    user-select: none;
  }
  #form-image-group .selected {
    /* TODO: Use variable when we put this in sass */
    border: 3px solid #ff8930;
    opacity: 1;
  }
  .loading-gif {
    position: relative;
    right: 27px;
    width: 16px;
  }

.span12
  %h2 Post A New Article
  = form_for(Post.new, :method => :post, :html => { :class => 'form-horizontal' }) do |f|
    .control-group
      .control-label
        =f.label :url
      .controls
        =f.text_field :url, :class => 'span6'
    .control-group#form-image-group
      .control-label
        =f.label :image
        =f.hidden_field :image_url
      .controls
    .control-group#form-keywords-group
      .control-label
        =f.label :keywords
      .controls
    .control-group
      .control-label
        =f.label :title
      .controls
        =f.text_field :title, :class => 'span6'
        =image_tag 'loading.gif', :class => 'loading-gif'
    .form-actions
      =f.submit 'Post Article!', :class => 'btn btn-primary'
