- if current_user.needs_onboarding? && !@query
  = render "home/onboard"
- if @posts.empty?
  .article
    %p Couldn't find any posts!
- else
  - @posts.each do |p|
    = render "home/#{p[1]}", :article => p[0]
