/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap.min.css
 *= require bootstrap-responsive.min.css
 *= require font-awesome
 *= require_self
 */
@import "shared";

body, html {
  font-family: "ff-nuvo-sc-web-pro";
  font-size: 10px;
  background-color: $body-background;
}
h1 { font-size: 3.85em; }
h2 { font-size: 3.15em; line-height: 1.3em; }
h3 { font-size: 2.45em; }

h1, h2, h3 {
  font-family: "museo-sans",sans-serif;
  font-weight: lighter;
}

p {
  font-size: 1.6em;
  line-height: 1.5em;
}

#logobar {
  margin: 30px auto;
}

.logo {
  padding-left: 50px;
  background-image: image-url('logo_small.png');
  background-repeat: no-repeat;
  font-weight: normal;

  a { color: #888; text-decoration: none; }
  a:hover { color: $october-orange; }
}
.right-nav-items {
  margin: 15px 0 0;
  padding-right: 4%; /* TODO: fix this */
  * { float: right; }
}
#alert-bar {
  margin: 30px 0 0 0;
  font-size: 20px;
  line-height: 2.2em;
}
@media (min-width: 768px) and (max-width: 979px) {
  body, html {
    font-size: 8px;
  }
}
.box {
  padding: 1% 10px;
  background-color: $article-box-background;
  border: 1px solid $article-box-border;
  @include box-shadow(2px 2px 10px rgba(0, 0, 0, 0.1));
}

/*
 * ============================================================================
 * Bootstrap Overrides:
 * ============================================================================
 */
.btn {
  background-image: none;
}
/* .typekit-badge { display: none !important; } */

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
  border-radius: 0px;
}
textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {
  @include box-shadow(0 0 3px $october-orange);
  border-color: $october-orange;
}
.alert {
  border-radius: 0px;
  border: 0px;
}
.alert-error {
  color: $october-orange;
  background-color: mix($october-orange, $body-background, 10%);
}
.btn {
  border-radius: 0px;
  font-family: 'ff-nuvo-sc-web-pro';
  font-weight: normal;
}
.btn-primary {
  background-color: $october-orange;
  &:hover { background-color: scale-color($october-orange, $lightness: -10%); }
  &:focus, &:active { background-color: scale-color($october-orange, $lightness: -20%); }
}
