@import "shared";

#articles {
  position: relative;
}
#articles .row {
  width: 100%;
  margin: auto;
}
.article {
  float: left;
  margin-bottom: 20px;

  a {
    color: #222;
    text-decoration: none;
    &:hover, &:active, &:visited { color: #333; }
  }

  /* Styles for the big article at the top: */
  &.featured {
    background-size: cover;
    background-position: center center;
    width: 64%;
    height: 400px;
    position: relative;
    color: #bbb;
    @include box-shadow(2px 2px 10px rgba(0, 0, 0, 0.1));

    a {
      color: #fff;
    }
    h2 {
      position: absolute;
      bottom: 0px;
      margin: 0;
      padding: 20px 0 30px;
      color: #eee;
      text-shadow: 2px 2px 0px #000;
      width: 100%;
      @include linear-gradient(transparent, rgba(0,0,0,0.9));
      a {
        color: #eee;
        padding-left: 23px;
        display: inline-block;
      }
    }
  }

  /* Styles for non-featured articles: */
  &.square {
    width: 29%;

    .subtitle {
      font-family: 'ff-nuvo-sc-web-pro';
      font-weight: normal;
      line-height: 1em;
      color: #555;
    }
  }

  /* Styles for articles recommended more strongly (white boxes): */
  &.primary {
    h2 {
      font-weight: 400;
    }
  }
  /* ...and for ones recommended more weakly */
  &.secondary {
    .title {
      font-size: 0.75em;
      h2 {
        margin-top: 0;
        a {
          color: #777;
        }
      }
    }
    a, .posted_by {
      color: #888;
    }
    img {
      width: 45%;
      margin-right: 20px;
      float: left;
    }
  }
}
.recommended-because .icon-question-sign {
  color: #888;
  right: 12px;
  position: absolute;
  cursor: pointer;
  font-size: 16px;
  display: none;
}
.recommended-because .reason {
  display: none;
  position: absolute;
  background-color: rgb(204, 204, 204);
  right: -25px;
  top: 30px;
  width: 150px;
  text-align: center;
  padding: 7px;
  font-family: 'museo-sans', sans-serif;
  font-size: 12px;
}
.recommended-because .reason:after {
  border: 8px solid transparent;
  border-bottom-color: #CCCCCC;
  content: " ";
  position: absolute;
  right: 23px;
  text-align: center;
  top: -16px;
  width: 0;
  display: none;
}
.article:hover {
  .icon-question-sign {
    display: block;
  }
  .icon-question-sign:hover {
    .reason, .reason:after {
      display: block;
    }
  }
}
.article-links {
  list-style: none;
  margin-left: 0px;
  font-size: 1.4em;
}
.article-links li {
  float: left;
  padding: 0;
  margin-left: 10px;
}
.article-links a.voted {
  color: $october-orange !important;
}
.article-links li:first-child {
  margin-left: 0px;
}
.article.featured .article-links {
  position: absolute;
  bottom: 0px;
  margin-bottom: 6px;
  padding-left: 23px;
}
.article.featured .posted_by {
  position: absolute;
  bottom: 0;
  right: 0;
  padding-right: 23px;
  margin-bottom: 6px;
}
.article .posted_by {
  font-size: 1.4em;
  margin: 11px 0;
  clear: both;
}
@media (max-width: 767px) {
  .article.featured, .article.square {
    width: 100%;
  }
  .article.square {
    margin-left: -10px;
  }
}
.user-results {
  list-style: none;
  margin: 0;
}
.user-results li {
  width: 200px;
  float: left;
  margin-right: 20px;
}
