// Place all the styles related to the Posts controller here.
// You can use Sass (SCSS) here: http://sass-lang.com/

// TODO: Improve display of the comments on the posts page
.comments > .new_comment > .comment-reply-area > .comment { margin-left: 0; }
.comments > .comment { margin-left: 0; }
.comment {
  margin-left: 40px;

  p {
    margin: 0;
  }
}

/* ***************************************************************************
 * Stuff for when submitting a new post
 * **************************************************************************/

#form-keywords-group .controls ul {
  font-size: 1em;
  list-style: none;
  margin: 0;
  padding-top: 5px;
}
#form-keywords-group .controls li {
  float: left;
  font-size: 1.6em;
  margin-right: 5px;
}
#form-image-group .article-image {
  float: left;
  height: 100px;
  width: 100px;
  margin: 0 10px 0 0;
  border: 3px solid #888;
  opacity: 0.3;
  cursor: pointer;
  user-select: none;
}
#form-image-group .selected {
  /* TODO: Use variable when we put this in sass */
  border: 3px solid #ff8930;
  opacity: 1;
}
.loading-gif {
  position: relative;
  right: 27px;
  width: 16px;
}
