= stylesheet_link_tag 'email'
%h1.logo October
= yield
%p#footer
  This email was sent automatically by Project October. To unsubscribe from
  emails... just kidding, there is no way to unsubscribe from emails yet.
